# Compiled output
/tmp
/out-tsc
*.pyc

# Dependencies
/node_modules

# System Files
.DS_Store
Desktop.ini
.Trashes

# Thumbnail cache files
._*
Thumbs.db

# IDEs and editors
.project
*.launch
.settings/
*.sublime-workspace
*.sublime-project
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.sass-cache
npm-debug.log

# Tests
/e2e/*.js
/e2e/*.map
